/* Contenedor del componente */
.containerWrapper {
    padding: 20px; /* Espaciado interno del contenedor principal */
  }

  .containerButton {
    display: flex;                /* Usamos flexbox para distribuir los botones */
    justify-content: center;      /* Centra los botones horizontalmente */
    gap: 20px;                    /* Espacio entre los botones */
    margin-bottom: 20px;          /* Espacio inferior para separar del contenido */
  }
  
  .filterButton {
    padding: 10px 20px;           /* Añadir padding para que los botones sean más grandes */
    background-color: #3D2F87;    /* Color de fondo */
    color: white;                 /* Color del texto */
    border: none;                 /* Sin borde */
    border-radius: 5px;           /* Bordes redondeados */
    cursor: pointer;              /* Cambiar el cursor al pasar sobre los botones */
    font-size: 16px;              /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Animación suave de cambio de color */
  }
  
  .filterButton:hover {
    background-color: #A83E52;    /* Color de fondo al pasar el cursor */
  }
  
  
  /* Estilo para la cantidad de vendedores */
  .quantityTitle {
    font-size: 18px; /* Tamaño de fuente más pequeño */
    color: #333; /* Color del texto */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espaciado inferior */
  }
  
  .quantityTitle span {
    color: #A83E52; /* Color rojo para los números */
    font-weight: bold; /* Negrita para los números */
  }
  
  /* Contenedor de las tarjetas */
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centrar las tarjetas horizontalmente */
  }

  .totalPropertiesTitle {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333; /* Color del texto */
  }
  
  /* Ajuste de columnas en pantallas más pequeñas */
  @media (max-width: 1200px) {
    .cardContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 900px) {
    .cardContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
  }
  
  @media (max-width: 600px) {
    .cardContainer {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  }
  