.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    transition: transform 0.2s ease;
  }
  
  .imageContainer {
    flex: 0 0 150px; /* Mantener el contenedor de imagen fijo en 150px */
    margin-right: 16px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Recorta la imagen si es necesario para llenar el contenedor */
  }
  
  .cardContent {
    flex: 1; /* El contenido ocupará el espacio restante */
    display: flex;
    flex-direction: column;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .cardText {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  .detailsLink {
    text-align: right;
  }

  .buttonContainer {
    display: flex;
  
    gap: 10px; /* Espacio entre los botones */
  }
  
  
  .detailsButton {
    background-color: #3D2F87;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .deleteButton{
    background-color: #A83E52;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .deleteButton:hover{
    background-color: #ff002f;
  }
  
  .detailsButton:hover {
    background-color: #A83E52;
    transform: translateY(-2px);
  }
  
  .editButton {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 10px 2px; /* Margen */
    cursor: pointer; /* Cursor en forma de mano */
  }
  
  .editButton:hover {
    background-color: #45a049; /* Color de fondo verde más oscuro al pasar el cursor */
    transform: translateY(-2px);
  }

  .id{
    color: #A83E52;
  }


  .downloadSection {
    margin-top: 10px;
  }
  
  .downloadButton {
    background-color: #3D2F87;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3px;
  }
  
  .passwordContainer {
    margin-top: 5px;
    display: flex;
    gap: 10px;
  }
  
  .passwordInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3px;
  }
  
  .confirmButton {
    background-color: #A83E52;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3px;
  }
  
  .borderOrange {
    border: 2px solid #A83E52;
    box-shadow: 0px 0px 10px rgba(#ff002f);
  }
  
  .greenArrow {
    color: green;
    font-weight: bold;
  }
  
  .redArrow {
    color: red;
    font-weight: bold;
  }
  
  .percentageChange {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  /* Estilos Responsivos */
@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: flex-start; /* Alinear elementos al inicio */
  }

  .imageContainer {
    width: 100%; /* La imagen ocupa todo el ancho en pantallas pequeñas */
    margin-right: 0; /* Eliminar el margen derecho */
    margin-bottom: 16px; /* Añadir un margen inferior para separar la imagen del contenido */
  }

  .image {
    border-radius: 8px;
    object-fit: cover;
  }

  .cardContent {
    width: 100%; /* Asegurar que el contenido ocupe todo el ancho */
    text-align: left; /* Alinear el texto a la izquierda */
  }

  .detailsLink {
    width: 100%; /* Asegurar que el botón ocupe todo el ancho */
    text-align: left; /* Alinear el botón a la izquierda */
    margin-top: 8px; /* Añadir margen superior */
  }

  .detailsButton,
  .editButton {
    width: 100%; /* Hacer que los botones ocupen todo el ancho en pantallas pequeñas */
    text-align: center; /* Centrar el texto dentro del botón */
  }
}

@media (max-width: 480px) {
  .cardTitle {
    font-size: 1.125rem; /* Reducir el tamaño de la fuente en pantallas muy pequeñas */
  }

  .cardText {
    font-size: 0.875rem; /* Reducir el tamaño de la fuente del texto */
  }

  .detailsButton,
  .editButton {
    padding: 8px 12px; /* Reducir el padding en pantallas pequeñas */
    font-size: 14px; /* Reducir el tamaño de la fuente en los botones */
  }
}