/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado uniforme entre los elementos */
}

/* Labels */
.label {
  display: flex;
  flex-direction: column; /* Asegura que el texto y el input estén en columna */
  gap: 5px; /* Espaciado entre el texto del label y el input */
  font-size: 14px;
  color: #3D2F87;
}

/* Input, select y botones */
.input,
.select {
  width: 100%; /* Asegura que el ancho sea del 100% */
  padding: 10px;
  margin: 0; /* Elimina cualquier margen extra */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Para incluir padding en el cálculo del ancho */
}

/* Botón */
.button {
  background-color: #A83E52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #922d44;
}

/* Fieldset */
.fieldset {
  display: flex;
  flex-direction: column; /* Coloca todos los elementos dentro del fieldset en columna */
  border: 1px solid #3D2F87;
  border-radius: 4px;
  padding: 10px;
}

/* Mensajes */
.loading {
  color: #3D2F87;
  font-size: 16px;
}

.error {
  color: #A83E52;
  font-size: 16px;
}
