/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado uniforme entre los elementos */
}

.formGroup {
  margin-bottom: 20px;
}

.title{
  margin-left: 35px;
  
}


/* Labels */
.label {
  display: flex;
  flex-direction: column; /* Asegura que el texto y el input estén en columna */
  gap: 5px; /* Espaciado entre el texto del label y el input */
  font-size: 14px;
  color: #3D2F87;
}

.selectInput {
  width: auto; /* Ancho automático */
  font-size: 18px; /* Tamaño de fuente */
  border: 1px solid #3D2F87 !important; /* Borde para mejorar la apariencia */
  background-color: #fff; /* Fondo blanco */
  color: #3D2F87 ; /* Color del texto */
  padding: 10px; /* Ajusta el relleno según tu preferencia */
  margin-left: 25px;
  border-top-left-radius: 5px; /* Redondea la esquina superior izquierda */
  border-bottom-left-radius: 5px; /* Redondea la esquina inferior izquierda */
}

.subtitle{
  text-align: center;
  color: #8d8d8d;
}

.inputNumber {
  width: auto; /* Ancho automático */
  font-size: 18px; /* Tamaño de fuente */
  border: 1px solid #3D2F87 !important;/* Borde para mejorar la apariencia */
  background-color: #fff; /* Fondo blanco */
  color: #3D2F87 ; /* Color del texto */
  padding: 10px; /* Ajusta el relleno según tu preferencia */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* Input, select y botones */
.input,
.select {
  width: 100%; /* Asegura que el ancho sea del 100% */
  padding: 10px;
  margin: 0; /* Elimina cualquier margen extra */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Para incluir padding en el cálculo del ancho */
}

/* Botón */
.button {
  background-color: #A83E52;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #922d44;
}

/* Fieldset */
.fieldset {
  display: flex;
  flex-direction: column; /* Coloca todos los elementos dentro del fieldset en columna */
 
  border-radius: 4px;
  padding: 10px;
}

/* Mensajes */
.loading {
  color: #3D2F87;
  font-size: 16px;
}

.error {
  color: #A83E52;
  font-size: 16px;
}

.legend{
  margin-left: 25px;
}

.title{
  margin-left: 25px;
}