.textCenter {
    text-align: center;
  }
  
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropzone p {
    margin-top: 10px;
  }
  
  .dropzone img {
    width: 125px;
    height: 70px;
    background-size: cover;
    padding-right: 15px;
  }
  