/* Importar Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* Contenedor General */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Contenedor de Inputs */
.inputContainer {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.inputContainer h2 {
  text-align: center;
  color: #333;
}

.inputContainer label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.inputContainer input,
.inputContainer textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputContainer textarea {
  height: 100px;
}

.printButton {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.printButton:hover {
  background: #0056b3;
}

/* Reporte */
.report {
  display: flex;
  flex-direction: column;

}
.pagePortada {
  width: 794px;
  height: 1120px;
  page-break-before: auto; /* Solo hace salto de página si es necesario */
  page-break-after: always; /* Forzar el salto de página después de cada página */
  border: 1px solid #000000;

  background-image: url("../../Assets/Boceto\ ACM.png"); /* Imagen de fondo */
  background-size: contain; /* Ajusta la imagen para que quepa dentro sin desbordarse */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
  position: relative;
}
/* Páginas con tamaño A4 */
.page {
  width: 794px;
  height: 1120px;
  page-break-before: auto; /* Solo hace salto de página si es necesario */
  page-break-after: always; /* Forzar el salto de página después de cada página */
  border: 1px solid #000000;

  background-image: url("../../Assets/fondoACM.png"); /* Imagen de fondo */
  background-size: contain; /* Ajusta la imagen para que quepa dentro sin desbordarse */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
  position: relative;
}

/* Primera página en blanco */
.blankPage {
  background: white;
  border: none;
  box-shadow: none;
}

.title {
  left: 50%;
  transform: translate(-50%);
  width: 75%;
  position: absolute;
  text-align: center;
  align-items: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #000000;
  margin-top: 100px;
  background-color: #cccccc2a;
  padding: 10px;
  
  border-radius: 100px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; /* Negrita para todo el texto */
}

.ContainerDateGeneral{
  text-align: start;
  align-items: start;
  position: absolute;
  top: 220px;
  margin-left: 0px;
  
}

.ContainerTextMetodoComparativo{
  text-align: center;
  align-items: center;
  position: absolute;
  top: 220px;
  margin-left: 0px;
  
}

.textMetodoComparativo{
  font-size: 26px;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
 margin-bottom: 100px;
 margin-left: 10px;
 margin-right: 10px;
 
}
/* Estilos para los párrafos */
.text {
  font-size: 26px;
  margin-bottom: 8px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
 margin-bottom: 100px;
 margin-left: 20px;
 
}

.imgPortada {
  max-width: 100%; /* Ancho máximo que la imagen puede ocupar */
  width: 794px;
}
