/* NavBar.module.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
  }
  
  .notificationButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  .refreshButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  .createButton {
    padding: 15px;
    background-color: rgb(0, 204, 255);
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .notificationButton:hover,
  .refreshButton:hover,
  .createButton:hover {
    opacity: 0.7;
  }
  
  .icon {
    padding: 5px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%; /* Hace que el borde sea redondeado para que la imagen se vea como un círculo */
  border: 1px solid black; /* Agrega un borde alrededor de la imagen */
  }
  
  .title {
    margin-right: auto; /* Empuja la imagen del título hacia la izquierda */
    width: 80px;
    margin-top: -1%;
    margin-left: 1%;
    text-align: left;
  }