/* SideBar.module.css */

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0; /* Visible por defecto en pantallas grandes */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.sidebar.expanded {
  left: 0; /* Mostrar sidebar cuando esté expandido */
}

.menuButton {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  z-index: 1100;
}

.menuIcon {
  width: 30px;
  height: 30px;
}

/* Iconos y detalles de usuario */
.icon {
  width: 35px;
  padding: 10px;
}

.user-details {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details p {
  font-size: 14px;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* Estilos Responsivos */
@media (max-width: 480px) {
  .menuButton {
    display: block; /* Mostrar el botón de menú solo en pantallas pequeñas */
  }

  .sidebar {
    left: -250px; /* Oculto fuera de la pantalla por defecto */
    width: 250px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 1000;
    position: fixed;
  }

  .sidebar.expanded {
    left: 0; /* Mostrar sidebar cuando esté expandido */
  }

  .content {
    margin-top: 50px; /* Asegura que el contenido no esté cubierto por la barra lateral */
  }
}