.title {
    margin-bottom: 20px; /* Espaciado inferior */
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

.form {
    width: 100%; /* Ancho completo */
}

.label {
    font-size: 16px; /* Tamaño de fuente para etiquetas */
    color: #555; /* Color del texto */
    margin-bottom: 5px; /* Espaciado inferior */
    display: block; /* Hacer que las etiquetas sean bloques */
}

.input,
.textarea {
    width: 50%; /* Ancho completo del input */
    margin-left: 25px;
    height: 40px; /* Altura del input */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px; /* Relleno interior */
    border: 1px solid #3D2F87 !important; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el borde y el relleno en el ancho y alto */
    color: #3D2F87 ;
}

.textarea {
    min-height: 100px; /* Altura mínima para el área de texto */
    resize: vertical; /* Permitir el cambio de tamaño vertical */
}

.submitButton {
    background-color: #3D2F87; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor a puntero */
}

.submitButton:hover {
    background-color: #A83E52;
}
.fieldset {
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: column; /* Asegura que el legend quede arriba de los checkboxes */
    align-items: stretch; /* Estira los elementos para ocupar el ancho completo */
}

.legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; /* Margen inferior para separar el legend de los checkboxes */
    text-align: left; /* Alinea el texto del legend a la izquierda */
}

.checkboxGroup {
    display: flex;
    justify-content: space-between; /* Distribuye los checkboxes uniformemente */
    gap: 20px; /* Espaciado entre los checkboxes */
    flex-wrap: wrap; /* Permite que los checkboxes pasen a la siguiente línea si es necesario */
}

.checkboxLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    flex: 1; /* Hace que los checkboxes ocupen el mismo espacio */
    min-width: 120px; /* Ancho mínimo para cada checkbox */
    justify-content: center; /* Centra los elementos dentro de cada label */
}

.checkboxInput {
    margin-right: 5px; /* Espacio entre el checkbox y el texto */
}

